@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');


.test {
    background-color:#181818 ;
}

.h3 {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/****** NAVBAR STYLING LOGO POSITION ******/

.navbar-brand {
    margin-top: -10px;
    margin-right: 15px;
}

.navbar-styling {
    background: rgba(0,0,0,0.95);
    opacity: .90;
}

/****** Background Image Styling ******/

.Backdrop {
    width: auto;
    height: 100%;
    background-color: black;
    background: url('../Images/BlackTest.png'), rgba(0,0,0,0.75);
}

.bg-img {
    height: 67vh;
    background-size: cover;
    background-position: center;
}

    .bg-img:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0,0,0,1);
    }

/******** LOGON FORM STYLING *******/

.content {
    position: absolute;
    top: 42%;
    height: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 500px;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.75);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,1);
}

    .content header {
        color: #fff;
        padding: 20px;
        margin: auto;
        font-size: 30px;
        font-weight: bold;
    }

/*--- --- TEXT FIELDS -------*/

.field {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255,255,255,0.94);
}

    .field span {
        color: #222;
        width: 40px;
        line-height: 45px;
    }

    .field input {
        height: 100%;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        color: #222;
        font-size: 16px;
        font-family: 'Poppins',sans-serif;
    }

.space {
    
    margin-top:30px;
}

.login-btn {
    background-color: #009eff;
    border: #009eff;
    border-radius: 3px;
}

    .login-btn:hover {
        background-color: rgba(0,158,255,.75);
    }
/*******************************************/
/******* CONTRACTOR PAGE STYLING **********/
/*****************************************/

.accept-btn {
    background-color: #009eff;
    border: #009eff;
    border-radius: 3px;
    color:#fff;
}

.accept-btn:hover {
    background-color: rgba(0,158,255,.75);
}

.reject-btn {
    background-color: rgb(255,0,0);
    border: red;
    border-radius: 3px;
    color:#fff;
}

    .reject-btn:hover {
        background-color: rgba(255,0,0,.57);
    }

/***************************/
/*****  CLIENT FORM *******/
/*************************/

.submit-btn {
    background-color: #009eff;
    color:#fff;
}

    .submit-btn:hover {
        background-color: rgba(0,158,255,.75);
    }

.btn-pad{
    padding:15px;
    
}

/***************************/
/*****  STAFF FORM *******/
/*************************/

.blue-btn {
    background-color: #009eff;
    border: #009eff;
    border-radius:3px;
    color: #fff;
}

    .verified-btn:hover {
        background-color: rgba(0,158,255,.75);
    }

.green-btn {
    background-color: #339933;
    border: #339933;
    border-radius: 3px;
    color: #fff;
}

    .payment-btn:hover {
        background-color: rgba(51,153,51,.75);
    }

/******************************/
/***** HOME INFORMATION ******/
/****************************/


.Services-Container {
    margin-top: 60px;
    margin-bottom: 10px;
    padding-bottom: 100px;
}

.services-box h3 {
    font-size: 32px;
}

.Services-Container p {
    font-size: 22px;
}


.divider-1 span {
    display: inline-block;
    width: 200px;
    border-bottom: 1px dotted #aaa;
}

Services-Description p h2 {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding: 0 120px;
}



.services-box {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    text-align: left;
}

    .services-box .services-box-icon {
        width: 80px;
        height: 80px;
        background: #009eff;
        font-size: 40px;
        color: #fff;
        line-height: 80px;
        text-align: center;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .services-box h3 {
        margin-top: 0;
        padding: 0 0 10px 0;
    }

/* --- Footer -----*/

footer {
    margin: auto;
    color: #aaa;
    text-align: left;
}

    footer h3 {
        color: #aaa;
    }
